# Tuples

It is a data structure in python which are represented using "()" and the values inside it are seperated with "," and they are "immutable"(unchangeable) and they are "ordered". it also allows "Duplicates".

In [171]:
#creation of an empty tuple
a = ()
b = tuple()
c = "a","b","c"
print(a)
print(b)
print(c)
print(type(a))
print(type(b))
print(type(c))

()
()
('a', 'b', 'c')
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

# Count

It is a method which helps to returns the frequency of the of the specified value in the given tuple.

In [172]:
t1 = ("AI&DS","AI&ML","CS","CSE","DS","AI&DS","AI&DS","AI&ML","CS","CSE","DS")
print(t1.count("AI&DS"))

3

# Index

It is a method that helps us to find out the index of the specified value in the given tuple.

In [173]:
print(t1.index("CS"))

2

In [174]:
print(t1.index("AI&DS")) #as it is occuring 3 times it returns the first values index

0

In [175]:
print(t1.index("AI&DS",2))# getting of the index of AI&DS after its 2nd occurence

5

# slicing

In [176]:
print(t1)

('AI&DS', 'AI&ML', 'CS', 'CSE', 'DS', 'AI&DS', 'AI&DS', 'AI&ML', 'CS', 'CSE', 'DS')

In [177]:
t1[:] # it prints the values from the beginning to the end.

('AI&DS',
 'AI&ML',
 'CS',
 'CSE',
 'DS',
 'AI&DS',
 'AI&DS',
 'AI&ML',
 'CS',
 'CSE',
 'DS')

In [178]:
print(t1[2:7:2]) # it prints the values from index 2 to 7 with step index 2

('CS', 'DS', 'AI&DS')

In [179]:
print(t1[::-1]) # negative indexing can be used for slicing

('DS', 'CSE', 'CS', 'AI&ML', 'AI&DS', 'AI&DS', 'DS', 'CSE', 'CS', 'AI&ML', 'AI&DS')

In [180]:
print(t1[-12::2])

('AI&DS', 'CS', 'DS', 'AI&DS', 'CS', 'DS')

# Indexing

It is no different from accessing elements in a list.The index begins from 0 and goes till n-1.

In [181]:
print(t1[4]) # it prints the item at index 4

DS

In [182]:
t2 = ("Machine Learning",(2,4,6,8),['A','G','H'])
print(t2[1][3])

8

# Other methods

In [183]:
#concatenation of two tuples
t3 = "A","B","C","D"
t4 = "E","F","G","H"
print(t3+t4+(1,2,4))

('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 1, 2, 4)

In [184]:
#repeating a tuple for required no of times
t5 = (5,8,9,27)
n = int(input())
print(t5*n)

2
(5, 8, 9, 27, 5, 8, 9, 27)

In [185]:
#del 
#it is not possible to use pop,remove methods on tuples as they are immutable but it is possible to delete the whole tuple.
del t5

In [186]:
print(t5) # it throws error as it got deleted

NameError: name 't5' is not defined

In [ ]:
#length -> it returns the length of the specified tuple
print(len(t4))

# Dictionary

It is a collection of key-value pairs which are immutable keys and it is ordered and doesn't allow duplicates .it is represented with "{}" and values inside it are seperated with "," and the key-value pairs are seperated using ":".

In [ ]:
#creating an empty tuple
d1 = {}
d2 = dict()
print(d1)
print(d2)
print(type(d1))
print(type(d2))

# Accessing Values

In [ ]:
data = {"Name":"Arjun","Age":24,"Gender":"M"}
print(data)

In [ ]:
print(data["Age"])

In [ ]:
data["Height"] = 164 # as it is not present in the dicitonary it completely appends it.
print(data)

In [ ]:
data["Age"] = 25
print(data)

In [ ]:
data["Name"] = "Sri,Krishna,Kumar,Arjun" # inserting multiple values to a single key
print(data)

In [ ]:
data["others"] = {"student","employee"} # add nested values
data

In [ ]:
#deleting
#as we know that the dictionaries are immutable so it is not possible for us to alter the key values . but we can del the key entry.
del data["others"]

In [ ]:
print(data)

In [ ]:
# clear method is used to remove all the key value pairs
data.clear()
print(data)

# Dictionary Comprehension

In [ ]:
#let's create a dictionary with key and its cubes
d3  ={n:n**3 for n in range(1,6)}
print(d3)

In [ ]:
print(d3.keys())

In [ ]:
print(d3.values())

# Copy

It returns the copy of dictionary

In [ ]:
d4 = {x:x*x for x in range(6,10)}
print(d4.copy())

# Pop

It removes the specified element at the given key value

In [ ]:
d4.pop(7)
print(d4)

# update

It adds the content in one dictionary to another dictionary

In [187]:
d3.update(d4)
print(d3)

{1: 1, 2: 4, 3: 27, 4: 16, 5: 25, 6: 36, 8: 64, 9: 81}